
<div class="contenido">
<div id="contenedor">
    <div id="central">
        <div id="login">
            <div class="titulo">
                Administrador
               <h5>Cuartos De Soluciones</h5> 
            </div>

            <div class="text-align-center mx-3 mb-3">
                <img src="" alt="">
            </div>
            <form id="loginform">
                <input type="text" name="usuario" placeholder="Usuario" required>
                
                <input type="password" placeholder="Contraseña" name="password" required>
                
                <button type="submit" title="Ingresar" name="Ingresar"><a class="k" routerLink="/inicio">Registrar</a></button>
            </form>
            <div class="pie-form">
                <a href="#">¿Perdiste tu contraseña?</a>
        
            </div>
        </div>
        <div class="inferior">
            <a href="#">Volver</a>
        </div>
    </div>
</div>
</div>