<app-menu></app-menu>
<br><br><br><br>

<h1 class="text-center fw-bold">Registrar Zona</h1>
<hr>
<br>
<div class="container">
    <div class="row">
        <div class="col-5">
            <h3>Formulario :</h3>
            <br>
            <app-registro-zona></app-registro-zona>
        </div>
        <div class="col-5">
            <h3>Disponibilidad : </h3>
            <br>
            <div class="card shadow">
                <app-grafica></app-grafica>
            </div>
            
        </div>
    </div>
</div>


<app-footer></app-footer>